dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo
ProjectEuler.cbp

CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
/target/
**/*.rs.bk
Cargo.lock
